/* body {
    margin: 0;
    background-color: lightgray;
}

#canvas-area {
    background-color: darkgray;
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    /* height: 100vh; */
  /* }

#start-btn {
    background-image: url("../Images/startBtn.png");
    width: 260px;
    height: 110px;
    background-color: lightgray;
    border: none;
}

#gameover-screen {
    display: none;
} */ 

body {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
  }
  
  #game-intro {
    padding: 20px 0px;
  }
  
  #game-container {
    display: flex;
    /* width: 100vw; */
    padding: 10px 0px;
    justify-content: center;
  }


  /* AGREGANDO EL CONTENEDOR DEL SCORE */
  #score-container {
    display: none;
    /* width: 100vw; */
    padding: 10px 0px;
    justify-content: center;
  }


  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url("../Images/fondo.png");
    background-size: cover;
    
    
    animation: slide 2s linear infinite;
  }
  
  @keyframes slide {
    0% {
        background-position: 1580px 0; /* Fuera por la derecha */
    }
    99% {
        background-position: 0 0; /* Posición normal */
    }
    100% {
        background-position: -10px 0; /* Un pequeño desplazamiento extra hacia la izquierda */
    }
}

  
  #game-over {
    display: none;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: 'Verdana';
  }

  
  /* LOGO DE INTRO GAME */
  .logo-img {
    width: 700px;
  }


  /* DANDO FORMATO AL BOTON DE START */
  #start-button {
    background-image: url("../Images/startBtn.png");
    width: 260px;
    height: 110px;
    background-color: white;
    border: none;
  }
  
  /* INAGEN DE LAS FLECHAS */
  .arrows-img {
    width: 250px;
  }


  
  body button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  