
body {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
  }
  
  #game-intro {
    padding: 20px 0px;
  }
  
  #game-container {
    display: flex; 
    padding: 10px 0px;
    justify-content: center;
    flex-direction: row;
  }


  /* AGREGANDO EL CONTENEDOR DEL SCORE */
  #score-container {
    display: flex;
    padding: 10px 0px;
  
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
  }

  .puntuacion {
    border: solid;
    border-color: blueviolet;
  }


  
  #game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    overflow: hidden;
    position: relative;
    background-image: url("../Images/fondo.png");
    background-size: cover;

    animation: slide 2s linear infinite;
  }
  
  @keyframes slide {
    0% {
        background-position: 1580px 0; /* Fuera por la derecha */
    }
    99% {
        background-position: 0 0; /* Posición normal */
    }
    100% {
        background-position: -10px 0; /* Un pequeño desplazamiento extra hacia la izquierda */
    }
}

  
  #game-over {
    display: none;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: 'Verdana';
  }

  
  /* LOGO DE INTRO GAME */
  .logo-img {
    width: 700px;
  }


  /* DANDO FORMATO AL BOTON DE START */
  #start-button {
    background-image: url("../Images/startBtn.png");
    width: 315px;
    height: 70px;
    background-color: white;
    border: solid;
    border-color: black

  }

  #restart-button {
    background-image: url("../Images/restartBtn.png");
    background-size: 290px 90px;
    width: 295px;
    height: 95px;
    background-color: white;
    border: solid;
    border-color: black

  }
  


